# Android Studio
*.iml
.idea/

# Gradle
.gradle
/build

# Kotlin
.kotlin/

# Local configuration
local.properties

# Android captures
/captures

# Native build
.externalNativeBuild
.cxx

# System files
.DS_Store

# Memory dumps
*.hprof

# Build outputs
*.apk
*.aab

# Signing keys
*.jks
*.keystore